.loginContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardInputs {
    display: flex;
    flex-direction: column;
}

.register {
    display: block;
    cursor: pointer;
}

.register:hover {
    color: blue;
}

.validation-error p {
    color: #DC3545;
    margin-top: .4em;
    border-left: 3px solid #DC3545;
    padding-left: 0.2em;
}

::ng-deep .mat-form-field-underline {
    display: none;
}