<div class="container mt-0 py-0" style="height: 100vh;" >
    <div class="boxDash">
        <div class="cardDash">
            <h2>Imóveis</h2>
            <div class="dataProperties">
                <div class="amountProperties">
                    <span>350</span> Disponível
                </div>
                <div class="chartProperties">
                    <canvas id="mychart"></canvas>
                </div>
            </div>
            <div class="listProperties">
                <ul>
                    <li><span>11</span> Aguardando aprovação</li>
                    <li><span>290</span> Atualizados</li>
                    <li><span>123</span> Vencendo</li>
                    <li><span>8</span> Desatualizados</li>
                </ul>
            </div>
        </div>
        <div class="cardDash">
            <h2>Funil de Vendas</h2>
            <div>
                <div class="sales">
                    <div class="totalSales">
                        Valor total do funil <span>R$ 6.423.010,00</span>
                    </div>
                    <div class="activeBusiness">
                        Negócios Ativos <span>433</span>
                    </div>
                </div>
                <div class="chartSales">
                    <canvas id="mychartBar"></canvas>
                </div>
            </div>
        </div>
        <div class="cardDash">
            <h2>Faturamento</h2>
            <div>
                <div class="chartInvoicing">
                    <canvas id="mychartLine"></canvas>
                </div>
                <div class="values">
                    <div class="totalValue">
                        Venda <span>R$ 1.763.900,00</span>
                    </div>
                    <div class="totalLocation">
                        Locação <span>R$ 28.900,00</span>
                    </div>
                </div>
                <div class="invoicing">
                    <div class="totalInvoicing">
                        Total faturado <span>R$ 1.763.900,00</span>
                    </div>
                    <div class="totalPrevision">
                        Previsão <span>R$ 2.100.000,00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
